@font-face {
    font-family: 'Futura Lt BT Light';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Lt BT Light'), url('assets/fonts/futural.woff') format('woff');
}

@font-face {
    font-family: 'Futura Md BT Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Futura Md BT Bold'), url('assets/fonts/futurab.woff') format('woff');
}

html {
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background-color: #FAAB32;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
}

header {
    background-color: #FAAB32;
    display: grid;
    grid-template-columns: 1fr;
    align-items: end;
    font-size: 2vh;
    font-family: 'Futura Md BT Bold', sans-serif;
    color: #000000;
    height: 5vh;
    max-width: 100%;
    position: sticky;
    top: 0;
    z-index: 10;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAAB32;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    text-align: center;
    padding: 2vh 2vh;
    text-decoration: none;
    color: #000000;
}

nav li a:hover {
    background-color: #C4D9D3;
}

.nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
    align-items: center;
}

header p {
    margin-right: 2vmax;
}

.hero {
    /*background-image: url('assets/images/at_night.jpg');*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    justify-items: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 95vh;
    position: sticky;
    top: 0;
}

.herotitle {
    cursor: pointer;
}

input {
    display: none;
}

.hero img {
    margin: 1vmax;
    width: 30vmin;
    height: auto;
    cursor: pointer;
}

.hero div {
    text-align: center;
    display: inline-block;
}

.hero div h1 {
    text-align: center;
    display: block;
    font-size: 4vmax;
    padding: 2vmax;
    font-family: 'Futura Md BT Bold', sans-serif;
    color: #FFFAFA;
    background: rgba(0, 0, 0, 0.5);
    background-size: 100px;
}

.welcome {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.welcomecontentwrapper {
    background-color: #FAAB32;
    justify-items: center;
}

.welcomecontent {
    font-family: 'Futura Md BT Bold', sans-serif;
    color: #000000;
    font-size: 4vmax;
}

.welcomeimg {
    width: 100%;
    height: 100%;
    max-height: 80vh;
    object-fit: cover;
    object-position: center center;
}

.welcomecontent p {
    font-size: 2vmax;
    font-family: 'Futura Lt BT Light', sans-serif;
    color: #000000;
}

.infoseparator {
    font-size: 3vmax;
    font-family: 'Futura Md BT Bold', sans-serif;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    justify-items: center;
    background-color: #C4D9D3;
    position: sticky;
    top: 0;
}

.even {
    background-color: #C4D9D3;
}

.odd {
    background-color: #FAAB32;
}

.tourcard {
    position: relative;
    cursor: pointer;
}

.tourimage {
    opacity: 1;
    display: block;
    width: 100%;
    height: 60vmax;
    transition: .5s ease;
    backface-visibility: hidden;
    object-fit: cover;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    /*background-color: #C4D9D3;*/
}

.tourtitle {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    display: block;
    font-size: 3vmax;
    font-family: 'Futura Md BT Bold', sans-serif;
    color: #FFFAFA;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.tourcard:hover .tourimage {
    opacity: 0.3;
}

.tourcard:hover .middle {
    opacity: 1;
}

.tourcard:hover .tourtitle {
    opacity: 0;
}

.tourtext {
    text-align: justify;
    text-justify: inter-word;
    margin: 5vmax;
    font-size: 2vmax;
    font-family: 'Futura Md BT Bold', sans-serif;
    color: #000000;
}

.tourtext ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.tourtext li {
    font-size: 2vmax;
    padding-bottom: 2vmax;
}

.tourtext a {
    font-family: 'Futura Md BT Bold', sans-serif;
    font-size: 2vmax;
    text-decoration: none;
}

.social-link {
    height: 4vmax;
    width: auto;
    float: left;
    padding-right: 2vmax;
}

.up {
    background-color: #C4D9D3;
    font-size: 1vmax;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    font-family: 'Futura Md BT Bold', sans-serif;
}

.homelink {
    text-decoration: none;
    position: sticky;
    top: 0;
}

footer {
    background-color: #FAAB32;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    margin: 0.5vmax;
    color: #000000;
    font-size: 0.7vmax;
    font-family: 'Futura Md BT Bold', sans-serif;
}

a {
    color: inherit;
}

@media screen and (min-width: 360px) and (max-width: 639px) {
    .welcome {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .welcome {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width: 1024px) {
    .tours {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .tourtext {
        font-size: 1.3vmax;
    }
}